.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;

    h6 {
        color: white;
        font-weight: 400;
    }
}